@page
@model Gestion_Restaurant.Pages.Paiements.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Paiement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Paiement.Id" />
            <div class="form-group">
                <label asp-for="Paiement.MoyenPaiement" class="control-label"></label>
                <input asp-for="Paiement.MoyenPaiement" class="form-control" />
                <span asp-validation-for="Paiement.MoyenPaiement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paiement.Montant" class="control-label"></label>
                <input asp-for="Paiement.Montant" class="form-control" />
                <span asp-validation-for="Paiement.Montant" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary">Retour</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
