@page
@model Gestion_Restaurant.Pages.Tables.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Table</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Table.NbPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Table.NbPlace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Table.CommandeRattache)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Table.CommandeRattache.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Table.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-page="./Index">Retour</a>
    </form>
</div>
